body{
    background-color: white;
    margin: 0;
    border: 0;
}
.navigator li{
    display: inline;
    padding-top: 69px;
    padding-bottom: 51px;
    padding-left: 45px;
    padding-right: 45px;
}
.navigator a{
    text-decoration: none;
    font-size: 300%;
    font-family: 'Spartan';
    color: white;
}
.nav-bar{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
}
button{
    padding: 1% 1%;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    position: fixed;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 1800px;
}
#changer{
    width: 100%;
    height: 350px;
}
#sound_pic{
    height: 45px;
    width: 45px;
}
#intro{
    text-align: center;
    font-size: 250%;
    font-family: Roboto Slab;
}
#home-page{
    padding-top: 100px;
}
#bio{
    font-family: Caladea;
}